<app-loading *ngIf="loading"></app-loading>

<div *ngIf="error" class="alert alert-danger animated fadeIn">
    <h3>Error</h3>
    <p>
        {{message}}
    </p>

</div>

<app-cards [items]="newReleases"></app-cards>