<div class="row">
  <div class="col">
    <input
      #term
      (keyup)="search(term.value)"
      type="text"
      class="form-control"
      placeholder="Búsqueda"
    />
  </div>
</div>

<app-loading *ngIf="loading" class="m-5"></app-loading>

<app-cards *ngIf="!loading" [items]="artists"></app-cards>
