<app-loading *ngIf="loading"></app-loading>

<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-2">
        <img [src]="artist.images | noimage" class="img-thumbnail img-circle" />
    </div>
    <div class="col">
        <h3>{{ artist.name }}</h3>
        <p>
            <a [href]="artist.external_urls.spotify" target="_blank">Ir a la página del artista</a
      >
    </p>
  </div>
  <div class="col-4">
    <button routerLink="/search" class="text-right btn btn-outline-danger">
      Regresar
    </button>
  </div>
</div>

<div class="row m-5">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Album</th>
          <th>Canción</th>
          <th>Vista Previa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of topTracks">
          <td>
            <img class="img-thumb" [src]="track.album.images | noimage" [alt]="track.album.name">
          </td>
          <td>{{track.album.name}}</td>
          <td>{{track.name}}</td>
          <td>
            <!-- <audio [src]="track.preview_url" controls></audio> -->
            <iframe [src]="track.id | domseguro:'https://open.spotify.com/embed/track/'" width="300" height="80"
                  frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>